<template>
  <div class="wrapper">
    <el-form label-width="15%"
             label-position="right">
      <el-row>
        <el-col :span="12">
          <el-form-item label="归属机构">
            <el-input placeholder="归属机构"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="归属机构">
            <el-input placeholder="归属机构"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="归属机构">
            <el-input placeholder="归属机构"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="角色名称"
                        :required=true>
            <el-select placeholder="任务分配">
              <el-option label="任务分配"
                         value="shanghai"></el-option>
              <el-option label="管理角色"
                         value="beijing"></el-option>
              <el-option label="普通角色"
                         value="beijing"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="归属机构">
            <el-input disabled
                      placeholder="归属机构"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="角色名称"
                        :required=true>
            <el-select placeholder="任务分配">
              <el-option label="任务分配"
                         value="shanghai"></el-option>
              <el-option label="管理角色"
                         value="beijing"></el-option>
              <el-option label="普通角色"
                         value="beijing"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="活动时间"
                        required>
            <el-col :span="11">
              <el-form-item prop="date1">
                <el-date-picker type="date"
                                placeholder="选择日期"
                                style="width: 100%;"></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col class="line time-line"
                    :span="2">-</el-col>
            <el-col :span="11">
              <el-form-item prop="date2">
                <el-time-picker type="fixed-time"
                                placeholder="选择时间"
                                style="width: 100%;"></el-time-picker>
              </el-form-item>
            </el-col>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="角色类型">
            <el-input placeholder="角色类型"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否系统数据">
            <el-select placeholder="是">
              <el-option label="是"
                         value="shanghai"></el-option>
              <el-option label="否"
                         value="beijing"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否可用">
            <el-select placeholder="是">
              <el-option label="是"
                         value="shanghai"></el-option>
              <el-option label="否"
                         value="beijing"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="数据范围">
            <el-select placeholder="仅本人数据">
              <el-option label="所有数据"
                         value="shanghai"></el-option>
              <el-option label="所在公司及以下数据"
                         value="beijing"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="活动形式">
            <el-input type="textarea"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="类型">
            <el-radio-group>
              <el-radio label="超级管理员"></el-radio>
              <el-radio label="政府单位"></el-radio>
              <el-radio label="企业单位"></el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="活动性质">
            <el-checkbox-group>
              <el-checkbox label="美食/餐厅线上活动"
                           name="type"></el-checkbox>
              <el-checkbox label="地推活动"
                           name="type"></el-checkbox>
              <el-checkbox label="线下主题活动"
                           name="type"></el-checkbox>
            </el-checkbox-group>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="">
            <el-button type="primary">保存</el-button>
            <el-button type="primary">查询</el-button>
          </el-form-item>
        </el-col>
        <template v-for="(item,index) in forminfo">
          <el-col :span="12"
                  :key="index">
            <el-form-item v-if="item.type=='text'"
                          :label='item.label'
                          :required='item.required'>
              <el-input :disabled='item.disabled'
                        :type="item.type"
                        v-model="forminfo[index].value"
                        :placeholder="item.placeholder"></el-input>
            </el-form-item>
            <el-form-item v-else-if="item.type=='textarea'"
                          :label='item.label'
                          :required='item.required'>
              <el-input :disabled='item.disabled'
                        :type="item.type"
                        v-model="forminfo[index].value"
                        :placeholder="item.placeholder"></el-input>
            </el-form-item>

            <el-form-item v-else-if="item.type=='select'"
                          :label='item.label'
                          :required='item.required'>
              <el-select :placeholder="item.placeholder"
                         v-model="forminfo[index].value">
                <el-option v-for="option in item.option "
                           :label="option.label"
                           :key="option.label"
                           :value="option.value"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item v-else-if="item.type=='radio'"
                          :label='item.label'
                          :required='item.required'>
              <el-radio-group v-model="forminfo[index].value">

                <el-radio v-for="radio in item.radio"
                          :key="radio.value"
                          :label="radio.value">{{radio.label}}</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item v-else-if="item.type=='checkbox'"
                          :label='item.label'
                          :required='item.required'>
              <el-checkbox-group v-model="forminfo[index].value">
                <el-checkbox v-for="checkbox in item.checkbox"
                             :label="checkbox.value"
                             :key="checkbox.value"
                             name="type">{{checkbox.label}}</el-checkbox>
                <!-- <el-checkbox label="地推活动"
                             name="type"></el-checkbox>
                <el-checkbox label="线下主题活动"
                             name="type"></el-checkbox> -->
              </el-checkbox-group>
            </el-form-item>
          </el-col>
        </template>
      </el-row>
    </el-form>

  </div>
</template>
<script>
export default {
  data () {
    return {
      forminfo: [
        {
          type: 'text', // 类型
          label: '归属机构', // 标题
          required: false, // 是否必填
          disabled: false, // 是否禁止输入
          placeholder: '请输入归属机构',
          value: '青岛xxx'
        },
        {
          type: 'text',
          label: '活动形式',
          required: true,
          disabled: false,
          placeholder: 'text1',
          value: ''
        },
        {
          type: 'text',
          label: '活动形式',
          required: true,
          disabled: true,
          placeholder: 'text2',
          value: ''
        },
        {
          type: 'select',
          label: '角色名称',
          required: false,
          disabled: false,
          placeholder: '',
          value: '',

          option: [
            {
              label: '所有数据',
              value: 'shanghai'
            },
            {
              label: '所在公司及以下数据',
              value: 'beijing'
            },
            {
              label: '所在公司数据',
              value: 'shandong'
            }
          ]
        },
        {
          type: 'textarea',
          label: '活动形式',
          required: false,
          disabled: true,
          placeholder: '',
          value: ''
        },

        {
          type: 'select',
          label: '角色名称',
          required: false,
          disabled: false,
          placeholder: '请选择',
          value: '',

          option: [
            {
              label: '所有数据',
              value: 'shanghai'
            },
            {
              label: '所在公司及以下数据',
              value: 'beijing'
            },
            {
              label: '所在公司数据',
              value: 'shandong'
            }
          ]
        },
        {
          type: 'radio',
          label: '类型',
          required: false,
          disabled: false,
          placeholder: '',
          value: '',
          radio: [
            {
              label: '超级管理员',
              value: 'shanghai'
            },
            {
              label: '政府单位',
              value: 'beijing'
            },
            {
              label: '企业单位',
              value: 'shandong'
            }
          ]
        },
        {
          type: 'checkbox',
          label: '类型',
          required: false,
          disabled: false,
          placeholder: '',
          value: [],
          checkbox: [
            {
              label: '超级管理员',
              value: 'shanghai'
            },
            {
              label: '政府单位',
              value: 'beijing'
            },
            {
              label: '企业单位',
              value: 'shandong'
            }
          ]
        }
      ]
    }
  }
}
</script>
<style lang="scss">
.wrapper {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.el-select {
  display: block;
}
.time-line {
  text-align: center;
  // padding-right: 10px;
}
</style>
