<template>
  <div class="wrapper">
    <el-form :inline="true"
             size="small"
             class="demo-form-inline">
      <el-form-item label="公司名称">
        <el-input placeholder="公司名称"></el-input>
      </el-form-item>
      <el-form-item label="下拉列表">
        <el-select placeholder="请选择下拉列表">
          <el-option label="下拉列表1"
                     value="shanghai"></el-option>
          <el-option label="下拉列表2"
                     value="beijing"></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="活动时间"
                    required>
        <el-col :span="11">
          <el-form-item prop="date1">
            <el-date-picker type="date"
                            placeholder="选择日期"
                            style="width: 100%;"></el-date-picker>
          </el-form-item>
        </el-col>
        <el-col class="time-line line"
                :span="2">-</el-col>
        <el-col :span="11">
          <el-form-item prop="date2">
            <el-date-picker type="date"
                            placeholder="选择日期"
                            style="width: 100%;"></el-date-picker>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item label="开关"
                    prop="delivery">
        <el-switch></el-switch>
      </el-form-item>
      <el-form-item label="多选">
        <el-checkbox-group>
          <el-checkbox label="多选1"
                       name="type"></el-checkbox>
          <el-checkbox label="多选2"
                       name="type"></el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item label="单选">
        <el-radio-group>
          <el-radio label="单选1"></el-radio>
          <el-radio label="单选2"></el-radio>
        </el-radio-group>
      </el-form-item>

    </el-form>
    <el-row>
      <el-button icon="el-icon-arrow-down"
                 type="primary"
                 size="small">检索</el-button>
      <el-button type="primary"
                 icon="el-icon-search"
                 size="small">查询</el-button>
      <el-button type="success"
                 icon="el-icon-plus"
                 size="small">添加</el-button>
      <el-button type="danger"
                 icon="el-icon-delete"
                 size="small">删除</el-button>
      <el-button type="warning"
                 icon="el-icon-search"
                 size="small">刷新</el-button>
      <el-button type="danger"
                 size="small">重置</el-button>
    </el-row>
    <el-table :data="tableData"
              :header-cell-style="{background:'#f0f4f6'}"
              stripe
              style="width: 100%;marginTop:15px;">
      <template v-for="(item, index) in tableheadData">
        <el-table-column v-if="!item.isoperate"
                         :prop="item.name"
                         :key="index"
                         :fixed="item.left"
                         :type="item.type"
                         :sortable="item.issort"
                         :label="item.title"
                         min-width="180">
        </el-table-column>
        <el-table-column v-if="item.isoperate"
                         fixed="right"
                         :key="index"
                         label="操作"
                         min-width="200">
          <template slot-scope="scope">
            <el-button type="primary"
                       icon="el-icon-search"
                       size="small">查看</el-button>
            <el-button type="primary"
                       icon="el-icon-edit"
                       size="small">编辑</el-button>
          </template>
        </el-table-column>
      </template>
      <!-- <el-table-column type="selection"
                       fixed="left"
                       width="55">
      </el-table-column> -->

      <!-- <el-table-column prop="status"
                       type=""
                       label="状态"
                       min-width="180">
      </el-table-column> -->
      <!-- <el-table-column prop="date"
                       label="年报时间"
                       sortable
                       min-width="180">
      </el-table-column>
      <el-table-column prop="status"
                       label="状态"
                       min-width="180">
      </el-table-column>
      <el-table-column prop="url"
                       min-width="200"
                       label="url">
      </el-table-column>
      <el-table-column prop="address"
                       min-width="200"
                       label="地址">
      </el-table-column>
      <el-table-column prop="address"
                       min-width="200"
                       label="地址">
      </el-table-column>
      <el-table-column prop="address"
                       min-width="200"
                       label="地址">
      </el-table-column>
      <el-table-column prop="address"
                       min-width="200"
                       label="地址">
      </el-table-column>
      <el-table-column prop="name"
                       min-width="200"
                       label="姓名">
      </el-table-column>
      <el-table-column prop="name"
                       min-width="200"
                       label="姓名">
      </el-table-column>
      <el-table-column prop="name"
                       min-width="200"
                       label="姓名">
      </el-table-column>
      <el-table-column prop="name"
                       min-width="200"
                       label="姓名">
      </el-table-column> -->
      <!-- <el-table-column fixed="right"
                       label="操作"
                       min-width="200">
        <template slot-scope="scope">
          <el-button type="primary"
                     icon="el-icon-search"
                     size="small">查看</el-button>
          <el-button type="primary"
                     icon="el-icon-edit"
                     size="small">编辑</el-button>
        </template>
      </el-table-column> -->
    </el-table>
    <el-pagination :page-size="size"
                   background
                   :page-sizes="[10, 25, 50, 100,1000]"
                   :current-page.sync="currentpage"
                   @size-change="handleSizeChange"
                   @current-change="handleCurrentChange"
                   layout="total, sizes,prev, pager, next"
                   :total="1000">
    </el-pagination>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      tableheadData: [
        {
          type: 'selection', // 类型
          title: '', // 表格头部文字
          name: '', // 列表数据字段
          fixed: '', // 固定表头位置
          issort: false, // 是否排序
          isoperate: false
        },
        {
          type: '',
          title: '年报时间',
          // name: 'date',
          name: 'current',
          isfixed: '',
          issort: true,
          isoperate: false
        },
        {
          type: '',
          title: '状态',
          name: 'delFlg',
          // name: 'status',
          isfixed: '',
          issort: false,
          isoperate: false
        },
        {
          type: '',
          title: '地址',
          // name: 'address',
          name: 'id',
          isfixed: '',
          issort: false,
          isoperate: false
        },
        {
          type: '',
          title: '地址',
          name: 'name',
          // name: 'address',
          isfixed: '',
          issort: false,
          isoperate: false
        },
        {
          type: '',
          title: '地址',
          name: 'old',
          // name: 'address',
          isfixed: '',
          issort: false,
          isoperate: false
        },
        {
          type: '',
          name: 'remark',
          // name: 'url',
          title: 'url',
          isfixed: '',
          issort: false,
          isoperate: false
        },
        {
          type: '',
          name: 'school',
          // name: 'name',
          title: '姓名',
          isfixed: '',
          issort: false,
          isoperate: false
        },
        {
          type: '',
          name: 'sex',
          // name: 'name',
          title: '姓名',
          isfixed: '',
          issort: false,
          isoperate: false
        },
        {
          type: '',
          // name: 'name',
          name: 'size',
          title: '姓名',
          isfixed: '',
          issort: false,
          isoperate: false
        },
        {
          type: '',
          name: 'name',
          title: '姓名',
          isfixed: '',
          issort: false,
          isoperate: false
        },
        {
          type: '',
          name: 'name',
          title: '姓名',
          isfixed: '',
          issort: false,
          isoperate: false
        },
        {
          type: '',
          name: '',
          title: '操作',
          isfixed: '',
          issort: false,
          isoperate: true
        }
      ],
      tableData: [
        {
          date: '2016',
          status: '12',
          address: '北京',
          url: '/admin/home',
          name: '小别致挺东西'
        }, {
          date: '2016',
          status: '12',
          address: '北京',
          url: '/admin/home',
          name: '小别致挺东西'
        }, {
          date: '2016',
          status: '12',
          address: '北京',
          url: '/admin/home',
          name: '小别致挺东西'
        }
      ],
      formdata: [
        {
        }
      ],
      currentpage: 1,
      size: 10
    }
  },
  mounted () {
    this.getList()
  },
  methods: {

    handleSizeChange (val) {
      this.size = val
      this.getList()
    },
    handleCurrentChange (val) {
      this.currentpage = val

      this.getList()
    },
    // http://192.168.1.127:9997/rest/person/sysPerson/list/json
    // http://192.168.1.127:9997/rest/person/sysPerson/get/json?id=1
    // http://192.168.1.127:9997/rest/person/sysPerson/findList/json
    getList () {
      let that = this
      let current = this.currentpage
      let size = this.size
      axios.post('http://192.168.1.127:9997/rest/person/sysPerson/list/json', {
        'current': current,
        'size': size
      })
        .then(function (response) {
          console.log(response)
          console.log(response.data.data.list)
          that.tableData = response.data.data.list
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    getDetail (id) {
      // let that = this
      axios.post('http://192.168.1.127:9997/rest/person/sysPerson/get/json', {
        'id': 1
      })
        .then(function (response) {
          console.log(response)
          // console.log(response.data.data.list)
          // that.tableData = response.data.data.list
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    getallinfo () {
      // let that = this
      axios.post('http://192.168.1.127:9997/rest/person/sysPerson/findList/json')
        .then(function (response) {
          console.log(response)
          // console.log(response.data.data.list)
          // that.tableData = response.data.data.list
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  }
}
</script>

<style lang="scss">
.wrapper {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.time-line {
  text-align: center;
  padding-right: 10px;
}
</style>
